<footer class="footer">
  <small>
    <a href="http://www.uhh.hawaii.edu/">University of Hawaii at Hilo</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   pages_about_path %></li>
      <li><%= link_to "Contact", pages_contact_path %></li>
      <li><a href="http://news.reddit.com">News</a></li>
    </ul>
  </nav>
</footer>