<% provide(:title, 'Home') %>   <!-- Gives page a title -->
<div class="center hero-unit">

  <h1>University of Hawaii at Hilo</h1>
<h2>Articulation Home Page</h2>
    <p>
      <%= link_to 'Form', new_user_path, class: "btn btn-large btn-primary" %>
      <%= link_to "About", pages_about_path, class: "btn btn-large btn-primary" %>
      <%= link_to "Help", pages_help_path, class: "btn btn-large btn-primary" %>
      <%= link_to "Contact", pages_contact_path, class: "btn btn-large btn-primary" %>
    </p>
</div>

