<% provide(:title, 'About') %> <!-- Gives page a title -->

<h1>University of Hawaii at Hilo About Page</h1>
<h2>About</h2>
<p>
  <strong><p>Articulation Steps</p></strong>
  <%= link_to 'Form', new_user_path %><br>
  <%= link_to 'Home', pages_home_path %>
</p>


