<% provide(:title, 'About') %> <!-- Gives page a title -->

<h1>University of Hawaii at Hilo About Page</h1>
<h2>About</h2>
    <p>
      <strong><p>Articulation Steps</p></strong>
    </p>
    <p>
      <%= link_to 'Form', new_user_path %><br>
      <%= link_to "Home", pages_home_path, class: "btn btn-large btn-primary" %>
      <%= link_to "Contact", pages_contact_path, class: "btn btn-large btn-primary" %>
      <%= link_to "Help", pages_help_path, class: "btn btn-large btn-primary" %>
    </p>


