<% provide(:title, 'Contact') %> <!-- Gives page a title -->

<h1>University of Hawaii at Hilo Contact Page</h1>
  <h2>Contact</h2>
    <h2>University of Hawaii at Hilo</h2>
    <h2>200 W. Kawili St.</h2>
    <h2>Hilo, HI 96720-4091</h2>
        <p>
          <%= link_to "Home", pages_home_path, class: "btn btn-large btn-primary" %>
          <%= link_to "About", pages_about_path, class: "btn btn-large btn-primary" %>
          <%= link_to "Help", pages_help_path, class: "btn btn-large btn-primary" %>

        </p>
