<% provide(:title, 'Contact') %> <!-- Gives page a title -->

<h1>University of Hawaii at Hilo Contact Page</h1>
  <h2>Contact</h2>
    <h3>University of Hawaii at Hilo</h3>
    <h3>200 W. Kawili St.</h3>
    <h3>Hilo, HI 96720-4091</h3>
        <p>
          <%= link_to 'Home', pages_home_path %>
          <%= link_to 'About', pages_about_path %>
          <%= link_to 'Help', pages_help_path %>
        </p>
