<% provide(:title, 'Help') %> <!-- Gives page a title -->

<h1>University of Hawaii at Hilo Help Page</h1>
<h2>Help</h2>
<p>
  Need help, google it!<br>
  <%= link_to "Home", root_path, class: "btn btn-large btn-primary" %>
  <%= link_to "Contact", pages_contact_path, class: "btn btn-large btn-primary" %>
  <%= link_to "About", pages_about_path, class: "btn btn-large btn-primary" %>
</p>


