<% provide(:title, 'Help') %> <!-- Gives page a title -->

<h1>University of Hawaii at Hilo Help Page</h1>
<h2>Help</h2>
<p>
  Need help, google it!<br>
  <%= link_to 'Home', pages_home_path %>
  <%= link_to 'About', pages_about_path %>
  <%= link_to 'Contact', pages_contact_path %>
</p>


