<% provide(:title, 'All users') %>
<h1>All users</h1>

<%= will_paginate %>

<ul class="users">
  <%= render @users %>
</ul>

<%= will_paginate %>

<%= link_to 'Student Submissions', submissions_path, class: "btn btn-large btn-primary" %>